*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}
main{
    display: flex;
    position: relative;
    width: 940px;
    margin: 0 auto; 
}
.text-area{
    border:none;
    color: #0A3871;
    margin-top: 50px;
    text-transform: lowercase;
    resize: none;
    
}
::placeholder{
    color: #0A3871;
}
.text-area:focus{
    outline: none;
}
.mensaje{
    background: white;
    border: none;
    border-radius: 24px;
    width: 400px;
    height: 750px;
    margin-left: 40px;
    box-shadow: 5px 5px 10px 5px #0A3871;
    
}

.mensaje-encriptado{
    background: white;
    background-image: url("images/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    width: 350px;
    height: 650px;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    text-align: center;
  
    resize: none;
    outline: none;
    
}
.mensaje-encriptado::placeholder{
    text-align: center;
    padding-top: 500px;
     
}
   
.informacion{
    padding-top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 23px;
}
.informacion:before{
    content: "⚠";
    margin: 5px;
}
.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 300px;
    font-size: 25px;

}
.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 300px;
    font-size: 25px;
}
.btn-copiar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    position: relative;
    margin:0 10px 10px 50px;
    width: 300px;
    font-size: 25px;
    visibility: hidden;
}
@media screen and (max-width:480px) {

  #texto-encriptado{
    width: 480px;
  }
  .mensaje,.botones{
    width: 480px;
    display: line;
  }
    
}